/* CSS Mobile Reset */
html, body {

  margin: 0;
  padding: 0;
  border: 0;

  //将高度重置为100%
  height: 100%;
}

//基准的HTML大小为12px
html {
  font-size: 12px;
}

//对于屏幕大于375的,设置为15px
@include min-screen(375px) {
  html {
    font-size: 15px;
  }
}

//iPhone4与5同宽度
@include iphone4(portrait) {
  html {
    font-size: 9px;
  }
}

//以iPhone 5 为基准尺寸
@include iphone5(portrait) {
  html {
    font-size: 12px;
  }
}

//大概1.17倍
@include iphone6(portrait) {
  html {
    font-size: 14px;
  }
}

//大概1.29 倍
@include iphone6-plus(portrait) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  //将背景色重置为白色
  background: #fff;
  padding: 5px;
  color: #000;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

p img {
  float: left;
  margin: 0 10px 5px 0;
  padding: 0;
}

img {
  border: 0;
  max-width: 100%;
}

table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

//添加禁止聚焦高亮效果
//http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting?rq=1
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                         not supported by any browser */
}
