/* CSS Mobile Reset */
html, body {

  margin: 0;
  padding: 0;
  border: 0;

  //将高度重置为100%
  height: 100%;
}

//基准的HTML大小为10px
html {
  font-size: 62.5%;
}

//iPhone4与5同宽度
@include iphone4(portrait) {
  html {
    font-size: 9px;
  }
}

//以iPhone 5 为基准尺寸
@include iphone5(portrait) {
  html {
    font-size: 10px;
  }
}

//大概1.17倍
@include iphone6(portrait) {
  html {
    font-size: 12px;
  }
}

//大概1.29 倍
@include iphone6-plus(portrait) {
  html {
    font-size: 13px;
  }
}

body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  //将背景色重置为白色
  background: #fff;
  padding: 5px;
  color: #000;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

p img {
  float: left;
  margin: 0 10px 5px 0;
  padding: 0;
}

img {
  border: 0;
  max-width: 100%;
}

table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}