.navigation_drop_down_menu__container{
  height: 100%;
}

.navigation_drop_down_menu__item {
  background: none !important;
  color:#fff !important;
  font-size: 0.9em !important;

  &:hover{
    color: #2ab7cb!important;
  }
}


.navigation_drop_down_menu__icon {
  background-image: url('http://7xsotm.com1.z0.glb.clouddn.com/%E9%A6%96%E9%A1%B5-%E5%88%87%E5%9B%BE2_06.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 1em;
  display: flex;
}