//
.category_title_divider__container {

  display: flex;

  //标题
  .title {

    height: 2em;
    line-height: 2em;
    min-width: 2em;

    margin-right: 0.8888em;

    color: #4a4a4a;
    font-size: 1.125em;

    text-align: left;

  }

  //线型
  .lineBox {

    flex: 1 1 auto;

    //具体的线型
    .line {
      display: block;

      margin-top: 1.125em;

      border-color: #bdbdbd;
      border-top-style: solid;
      border-top-width: 0.0625em;
    }
  }

}