.image_title_operation_card__container {

  height: 168px;
  width: 140px;

  display: flex;
  flex-direction: column;

  //设置图片尺寸
  .image {
    flex: 0 0 80%;
    background-color: rgb(225, 235, 247);
    background-size: 100% 100%;

    img {
      height: 132px;
      width: 100%;
    }
  }

  //下部分文本与操作
  .bottom {

    flex: 0 0 20%;
    line-height: 2;

    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    .title{
      max-width: 90px;
      white-space:nowrap; 
      overflow:hidden; 
      text-overflow:ellipsis;
    }
    .operation {
      position: relative;

      > div > button {
        //图标按钮
        width: 32px !important;
      }
    }

  }

}